{% extends "base.html" %}

{% block title %} My Messages {% endblock %}

{% block main %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('profile') }}">My Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('game') }}">Game</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('messages') }}">Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('news_api') }}">Daily News API</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('to_do') }}">My TO-DO List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('sign_out') }}">Sign Out</a>
  </li>
</ul>
<br>
<br>
<h2 class="container">My Messages</h2>
<br>
<form class="container" method="post" action="/profile/messages">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="recipient's email">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea" class="form-label">Title</label>
  <textarea class="form-control" name="title" id="exampleFormControlTextarea" rows="1"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
<br>
<hr>
<br>
<h3 class="container">Received Messages:</h3>
{% for message in messages %}
<div class="container">
  <div class="card" style="width: 32rem;">
  <div class="card-body">
    <h5 class="card-title">{{ message.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">From: {{ sender.email }} at: {{ message.timestamp }}</h6>
    <p class="card-text">{{ message.body }}</p>
  </div>
</div>
  <br>
</div>
{% endfor %}

{% endblock %}