{% extends "base.html" %}

{% block title %} Recover Profile {% endblock %}

{% block main %}

<form class="container" action="/recover-profile" method="post">
  <h3>Enter your email and password</h3>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Recover</button>
</form>

{% endblock %}