{% extends "base.html" %}

{% block title %} Sign-up page {% endblock title %}

{% block main %}

<form class="container" method="post" action="/">
  <h3>New user? Please sign-up!</h3>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword" required>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" required id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I agree to the terms and conditions</label>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <h5>Click to Sign up</h5>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
    <div class="col-sm">
      <h5>Already a user?</h5>
      <a class="btn btn-secondary" href="{{ url_for('login') }}" role="button">Go to Login</a>
    </div>
  </div>
  </div>
</form>
<br>
<br>
<br>
<hr>
<div>
  <a role="button" href="{{ url_for('recover_profile') }}" class="btn btn-secondary btn-sm">Recover profile</a>
</div>

{% endblock main %}